a.arrowback.ajax(href="/")
  i(class="fa fa-arrow-left fa-fw" aria-hidden="true")

#model
  .avatar
    a
      img(src="/assets/img/avatar.jpg" alt="")
  .infobox
    .title
      h1
        i.fa.fa-link.fa-fw
        span social links
    .buttons
      -
        var social = {
          'mail': {
            title: 'Email',
            href: 'mailto:pyraxo@pyraxo.moe',
            class: 'fa fa-envelope fa-fw'
          },
          'twitter': {
            title: 'Twitter',
            href: 'https://twitter.com/pyraxo',
            class: 'fa fa-twitter fa-fw'
          },
          'steam': {
            title: 'Steam',
            href: 'https://steamcommunity.com/id/pyraxo',
            class: 'fa fa-steam fa-fw'
          },
          'lastfm': {
            title: 'Lastfm',
            href: 'https://www.last.fm/user/Pyraxo',
            class: 'fa fa-lastfm fa-fw'
          },
          'telegram': {
            title: 'Telegram',
            href: 'https://web.telegram.org/#/im?p=@pyraxo',
            class: 'fa fa-paper-plane fa-fw'
          },
          'github': {
            title: 'Github',
            href: 'https://github.com/Pyraxo',
            class: 'fa fa-github fa-fw'
          },
          'kitsu': {
            title: 'Kitsu',
            href: 'https://kitsu.io/users/Pyraxo',
            class: 'fa fa-fw'
          },
          'mastodon': {
            title: 'Mastodon',
            href: 'https://niu.moe/users/@mika',
            class: 'fa fa-fw mast-icon'
          }
        }
      each btn in social
        a(href=btn.href target="_blank" title=btn.title id=btn.title)
          i(class=btn.class)
      br