#container
  height 100vh
  width 100vw
  display flex
  justify-content center
  align-items center
  background #499bea
  color aliceblue

.fade
	opacity 1
	will-change opacity
	transition opacity 200ms ease

.fade-out
	opacity 0