#buttons
  width 75vw
  font-size 48px
  display flex
  flex-direction row
  justify-content space-around
  align-items stretch
  align-content space-around

#buttons a
  height 80px
  width 80px
  background #f0f0f0
  border-radius 25%
  display flex
  padding-top 10px
  justify-content center
  align-items center
  text-decoration none

#buttons a i
  transition 0.2s
  height 60px
  width 60px

#buttons a i:hover
  opacity 0.5

#Email
#Steam
  color #222

#Twitter
  color #00aced

#Lastfm
  color #dc001b

#Retrospring
  color #4b15a4

#Telegram
  color #2699db

#Github
  color #262626

#Hummingbird
  background-image url('/images/kitsu.png')
  background-repeat no-repeat
  background-size contain